body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

button {
    cursor: pointer;
}

.prod-container {
    width: 900px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.prod-item {
    width: 30%;
    padding: 10px;
    border-bottom: gold;
}

.prod-item .btns {
    display: flex;
    justify-content: flex-start;
    gap: 5px
}

.prod-item .btns > a {
    display: block;
    color: white;
    background: #B2D6FF;
    padding: 5px;
    border-radius: 3px;
}

img {
    width: 100px;
    height: 100px;
}

nav {
    color: white;
    background-color: #00b4d8;
    padding: 30px;
    width: 100%;

    position: sticky;
    top: 0;
}

nav > ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


a, a:visited {
    text-decoration: none;
    color: blue;
}

nav a, nav a:visited {
    color: white;
}

nav a:hover {
    color: blue
}

.cart-count {
    font-size: smaller;
    font-weight: bold;
}

